.charCharacteristics strong {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    margin-left: 10px;

    text-align: center;
    color: #333;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: gold;

    cursor: help;
}

.charCharacteristics strong[data-tooltip] {
    position: relative;
}
.charCharacteristics strong[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 220px;
    top: 30px;
    right: 40px;
    background-color: gold;
    color: #333;
    opacity: 0;
    transition: all 0.4s ease;

    pointer-events: none;
    /*  pointer-events: none; запрещает потомку реагировать на ховер, только родитель будет отвечать за наведение*/
}
.charCharacteristics strong[data-tooltip]:hover::after {
    opacity: 1;
    right: -40px;
}

.charFreePoints button {
    margin-bottom: 10px;
}