.App {
    text-align: center;
}

.App_logo {
    height: 80px;
    pointer-events: none;
    margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .App_logo {
        animation: App-logo-spin infinite 30s linear;
    }
}

.App_header {
    background-color: #282c34;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App_link {
    color: #61dafb;
    padding-left: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
