.main {
    padding: 0px;
    /*background-color: rgba(30, 30, 30, 0.85);*/
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-left: 1px solid #282c34;
}

h1 {
    margin-bottom: 20px;
    color: rgba(155, 155, 155, 0.75);
}

.flexCont {
    padding: 0px;
    display: flex;
}

.flexCont > div {
    padding: 20px;
    padding-left: 40px;
    margin-right: 40px;
}