.main {
    padding: 0px;
    background-color: rgba(30, 30, 30, 0.85);
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    color: rgba(155, 155, 155, 0.75);
}

.flexCont {
    padding: 0px;
    display: flex;
}

.flexCont > div {
    padding: 20px;
    padding-left: 40px;
    margin-right: 40px;
}