.nav {
    width: 200px;
    background-color: rgba(155, 155, 155, 0.4);
}

.nav ul {
    padding: 20px;
    list-style: none;
}


.link {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    color: white;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}

.link.active {
    background-color: #fff;
    color: #333;
}

.inProgress {
    cursor: not-allowed;
    background-color: rgba(255, 0, 0, 0.3);
}
.inProgress:hover {
    background-color: rgba(255, 0, 0, 0.6);
    color: #fff;
}

