.actionsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    background-color: #333;
}

.actionsWrapper img {
    width: 100%;
}

.warning {
    position: absolute;
    top:30px;
    right: 0;
    left: 0;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;

    text-align: center;
    color: red;
    font-size: 14px;

    background-color: rgba(0,0,0, 0.8);
}
